<th:block xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="input(control)">
        <input type="date"
               th:attr="name=${control.stateKey},
                        placeholder=${control.renderModel != null ? control.renderModel['placeholder'] : ''},
                        min=${control.renderModel != null ? control.renderModel['min'] : ''},
                        max=${control.renderModel != null ? control.renderModel['max'] : ''},
                        disabled=${!control.enabled}"
               th:required="${control.required}" />
    </th:block>
</th:block>
